gemm
results
figures
build
CMakeFiles
.build
.cache

# StarPU data and trace files
*.gp
*.data

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# https://cmake.org/cmake/help/git-stage/manual/cmake-presets.7.html
CMakeUserPresets.json

.vscode/
